python/*.so
logs
__pycache__
*.pyc
*.DS_Store
*.log
*~
bin/*
python/craftassist/models/*
python/craftassist/ttad/data/*
!python/craftassist/models/.gitignore
!python/craftassist/ttad/data/.gitignore
*.gz
*.vscode
