python/*.so
logs
__pycache__
*.pyc
*.DS_Store
*.log
*~
bin/*
writeups/*.pdf
writeups/*.aux
writeups/*.gz
writeups/*.out
*.DS_Store
python/craftassist/models/*
python/craftassist/ttad/data/*
!python/craftassist/models/.gitignore
!python/craftassist/ttad/data/.gitignore
*.gz
*.vscode
external_push
data_scripts/upload*
.mypy_cache
python/locobot/models/*
!python/locobot/models/.gitignore
annotation_tools/locobot_webcontrol/package-lock.json
